<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User</title>
</head>
<body>
<h1>Form for delete anf update</h1>
<form th:action="@{/users/{userId}/update(userId=${user.id})}" method="post" th:object="${user}">
    <label for="username">Username:
        <input id="username" type="text" name="username" th:value="*{username}">
    </label><br>
    <label for="birthday">Birthday:
        <input id="birthday" type="date" name="birthday" th:value="*{birthday}">
    </label><br>
    <label for="lastname">Lastname:
        <input id="lastname" type="text" name="lastname" th:value="*{lastname}">
    </label><br>
    <label for="firstname">Firstname:
        <input id="firstname" type="text" name="firstname" th:value="*{firstname}">
    </label><br>
    <div th:each="role : ${roles}">
        <input th:id="${role}" type="radio" name="role" th:value="${role}" th:checked="${role == user.role}">
        <label th:for="${role}" th:text="${role}">Role name</label>
    </div>
    <div>
        <label for="company"> Company:
            <select id="company" name="company_id">
                <option th:each="company : ${companies}"
                        th:value="${company.getId()}"
                        th:selected="${company.getId() == user.companyReadDto.getId()}"
                        th:text="${company.getCompanyName()}">Company</option>
            </select>
        </label>
    </div>
    <button type="submit">Update</button>
</form>
<form th:action="@{/users/{userId}/delete(userId=${user.id})}" method="post" th:object="${user}">
    <button type="submit">Remove</button>
</form>
</body>
</html>